.cart-confirmation-modal-view-cart {
    .cart-confirmation-modal-view-cart-button {
        padding: 20px;
    }
}

.cart-item-summary-item-list-actionable-input-qty .cart-item-summary-quantity-value {
    padding-right:15px;
    text-align: center;
}