@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Americana';
    src: url('../fonts/AMERICANA.ttf');
}