.product-line-sku-container {
    display: none;
}

.product-details-full-rating {
    display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .product-details-full-actions-addtowishlist {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .product-details-full-actions-addtowishlist {
        width: 50%;
    }
}

.product-list-control-button-wishlist, .product-list-control-single-button-wishlist {
    line-height: 54px;
}

.product-list-control-button-wishlist {
    font-weight: 500;
}

.cart-add-to-cart-button .cart-add-to-cart-button-button {
    font-size: 14px;
}

.product-details-quickview-actions-container-add-to-wishlist {
    width: 50%;
}
.product-details-quickview-actions-container .product-details-quickview-actions-container-add-to-wishlist {
    width: 100%;
    
    @media (min-width: 1200px) {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .product-details-full-actions-container .cart-add-to-cart-button-container {
        width: 50%;
    }
}

/* Hide up and down buttons next to number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Hide up and down buttons next to number input */
input[type=number] {
    -moz-appearance: textfield;
}

.product-details-quantity-options {
    margin-bottom: 20px; 
    
    .product-details-quantity-add,
    .product-details-quantity-remove {
        @media (min-width: $screen-md-min) {
            display: inline-block;
        }
    }
    .product-details-quantity-value {
        width: 45px;
        text-align: center;
    }
}

.product-details-full-main {
    .product-views-price {
        margin: $sc-base-margin * 4 0 $sc-base-margin * 2;
        
        .product-views-price-lead {
            font-size: 20px;
        }
    }
}
.product-views-option-color-picker-box-img.active,
.product-views-option-color-picker-box.active
{
    padding: 1px;
}

.product-details-full-content-header-title {
    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}