.product-detail-item-options-header {
    font-weight: normal;
    font-size: 20px;
}

.product-detail-item-options-name {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    color: #949ca2;

    .product-views-option-color-label {
        font-weight: 500;
    }
}


.product-detail-item-options-description {
    font-size: 12px;
    color: #949ca2;
    line-height: 16px;
    margin-top: 15px;
}

.product-detail-item-options-image-unavailable {
    padding-top: 125px;
    color: #ccc;
}

.product-details-item-options {
    .product-views-option-tile-label,
    .product-views-option-color-label-header,
    .product-views-option-text-label { 
        display: none;
    }
    
    .product-views-option-tile-picker {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 14px;
        padding: 5px;
        line-height: 14px;
        width: 48%;
        margin-right: 0.5%;
        margin-bottom: 5px;
        cursor: pointer;

        &.active, &:hover {
            border: 2px solid #68737a;
            color: #68737a;
        }
    }

    .product-views-option-color-picker {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 3px;
        border: 1px solid #C4CED3;

        &.active {
            border: 3px solid #68737a;
        }
    }

    .product-views-option-color-picker-box-img:hover {
        outline: none;
    }

    .product-views-option-color {
        margin: 20px 0;
    }
}

.product-detail-item-options-image {
    text-align: center;
    height: 250px;

    img {
        height: 100%;
        width: auto;
    }
}

.product-detail-item-options-navigation {
    margin-top: 30px;

    .product-detail-item-options-button {
        color: #68737a;
        text-transform: uppercase;
        font-size: 14px;
        background: transparent;

        &:disabled {
            color: #ccc;
        }
    }

    .product-detail-item-options-next-button-icon {
        @extend .fa;
        @extend %fa-angle-double-right;
        font-size: 22px;
        vertical-align: middle;
    }

    .product-detail-item-options-back-button-icon {
        @extend .fa;
        @extend %fa-angle-double-left;
        font-size: 22px;
        vertical-align: middle;
    }

    .product-detail-item-options-button-container {
        width: 50%;
        display: inline-block;

        &:last-child {
            text-align: right;
        }
    }

    .product-detail-item-options-back-button-text {
        vertical-align: middle;
        padding: 7px;
    }

    .product-detail-item-options-add-to-cart-button {
        @extend .button-primary;
        @extend .button-medium;
        width: 100%;
        padding: 10px 0;
    }
}
